<!DOCTYPE html>
<html>
  <head>
    <title> Kasimir Suter Winter </title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <main>
      <header>
        <div class="menu">
          <img class="logo" src="K-Logo-Solid-white.png" alt="">
          <nav>
            <ul>
              {% assign navigation_pages = site.html_pages | sort: "navigation_weight" %}
              {% for p in naviation_pages %}
                {% if p.navigation_weight %}
                  <li>
                      <a href="{{ p.url }}" {% if p.url == page.url %} class="active" {% endif %}>
                        {{ p.title }}
                      </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </nav>
         </div>
       </header>
         {{ content }}
       <footer>
         <p>  </p>
       </footer>
     </main>
  </body>
</html>
